html{
    font-size: 62.5%;
}

header{
    width: 100%;
}

header .container{
    width: 100%;
    height: 120px;
    background: #1C3659;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a{
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    font-weight: bold;
    color: #04BF7B;
    transition: all 0.2s 0s linear;
    padding-bottom: 5px;
}

header a:hover{
    border-bottom: 5px black solid;
    border-radius: 2px;
}

header img{
    width: 10%;
}

.row{
    width: 80%;
    margin: 10%;
}

